* {
  box-sizing: border-box;
  margin: 0%;
  background-color: rgb(237, 234, 234);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  margin: 4% 2%;
}

.user-info {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 100px;
}

.new-score {
  display: flex;
  width: 80%;
  padding-bottom: 20px;
  justify-content: space-between;
}

.users-scores {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 80%;
  padding: 10px  10px;
}

.user-div:nth-child(odd) {
  background: #cfcfcf;
}

.users-scores div {
  margin: 10px 10px;
}

#refresh-score {
  padding: 0 8px;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

input {
  padding: 7px;
}

.style-btn {
  background-color: rgb(4, 35, 46);
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px rgb(169, 168, 168);
  cursor: pointer;
}

.style-btn:hover {
  background-color: rgb(35, 40, 176);
  transition: 0.7s;
}

#submit-score {
  width: 13%;
  margin-left: 87%;
  padding: 4px 0%;
}
