* {
  box-sizing: border-box;
  margin: 0%;
  background-color: rgb(237, 234, 234);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  margin: 4% 2%;
}

.user-info {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 100px;
}

.new-score {
  display: flex;
  width: 80%;
  padding-bottom: 20px;
  justify-content: space-between;
}

.users-scores {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 80%;
  padding: 10px  10px;
}

.user-div:nth-child(odd) {
  background: #cfcfcf;
}

.users-scores div {
  margin: 10px 10px;
}

#refresh-score {
  padding: 0px 5px;
  border: 3px solid black;
  
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 7px;
}

.form {
  margin-top: 20px;
}

#submit-score {
  width: 20%;
  margin-left: 80%;

}